.sidebar{
    background: #FFFFFF;
    height: 100vh;
    width: 20%;
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    padding: 10px 0 0 30px;
    transition: 0.5s;

    main{

        h3{
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 16px;
            font-weight: 550;
            color: #213F7D;
        }
        p{
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 16px;
            font-weight: 400;
            color: #213F7D;
            margin-top: 22px;
        }
        h4{
            margin-top: 2rem;
            text-transform: uppercase;
            font-size: 14px;
        }
        ul{
            display: flex;
            flex-direction: column;
            gap: 20px;
            list-style: none;
            justify-items: flex-start;
            margin: 0;
            padding: 0;

            li{
                display: flex;
                gap: 10px;
                cursor: pointer;
            }
        }
    }
    
}